*{
    margin: 0; /*deixa margem esquerda e direita nula*/
padding: 0; /*deixa a margem superior e inferior nula*/
box-sizing: border-box; /*cria uma caixa ivisível para o corpo do site*/
}


.topo{
    background-color: lightpink; /*cor do fundo do topo do site*/
    height: 15vh; /*tamanho do topo do site 15% da tela*/
}
